/* 
Use apple calculator as a reference point
*/
/* button {
    width: 20px;
    height: 20px;
} */
.input-io {
    direction: rtl;
}
.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 50px);
    /* grid-template-rows: minmax(10px, auto); */
    grid-template-areas:
        "input input input input"
        "clr sign perc div"
        "seven eight nine mult"
        "four five six minus"
        "one two three plus"
        "zro zro dec eql";
}
.input-io {
    grid-area: input;
}
#div-btn {
    grid-area: div;
}
#mlt-btn {
    grid-area: mult;
}
#sub-btn {
    grid-area: minus;
}
#add-btn {
    grid-area: plus;
}
#eql-btn {
    grid-area: eql;
}
#zero {
    grid-area: zro;
}
#dec-btn {
    grid-area: dec;
}
